 /*
	* This is a manifest file that'll be compiled into application.css, which will include all the files
	* listed below.
	*
	* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
	* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
	*
	* You're free to add application-wide styles to this file and they'll appear at the top of the
	* compiled file, but it's generally better to create a new file per style scope.
	*
	*= require_self
	*= require front/css/bootstrap
	*= require front/css/style
	*= require front/css/overide
	*= require front/css/style980
	*= require front/css/style800
	*= require front/css/style700
	*= require front/css/style600
	*= require front/css/style500
	*= require front/css/style400
	*= require jquery.fancybox-1.3.4
	*= require front/css/font-awesome.min
	*= require datepicker
	*= require autocomplite
	*= require jquery.share
  */

  /*modal*/
  #dealer-form .modal-content{
  	width: 700px;
  }
  #edit-dealer-form .modal-content{
  	width: 700px;
  }

  .scrollit{
  	overflow: scroll;
  	width: 300px!important;
  }

  #fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style] {
	width: 100% !important;
	}

